<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe 추가</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="p-5 mb-5 text-center</> bg-light">
    <h1 class="mb-3">My Recipe</h1>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <article>
                <input type="hidden" id="recipe-id" th:value="${recipe.id}">
                <form method="post" enctype="multipart/form-data">
                <header class="mb-4">
                    <input type="text" class="form-control" placeholder="일련 번호" id="rcp_seq" name="rcp_seq" th:value="${recipe.rcp_seq}">
                    <input type="text" class="form-control" placeholder="레시피명" id="rcp_nm" th:value="${recipe.rcp_nm}">
                </header>
                <section class="mb-5">
                    <input type="text" class="form-control" placeholder="조리 방법" id="rcp_way2" th:value="${recipe.rcp_way2}">
                    <input type="text" class="form-control" placeholder="요리 종류" id="rcp_pat2" th:value="${recipe.rcp_pat2}">
                    <textarea class="form-control h-25" rows="10" placeholder="레시피 설명" id="manual01" th:text="${recipe.manual01}"></textarea>
                    <input type="file" class="form-control" placeholder="레시피 설명 이미지" id="manual_img01" th:value="${recipe.manual_img01}">
                </section>
                    <button th:if="${recipe.id} == null" type="button" id="create-btn" class="btn btn-primary btn-sm">레시피 등록</button>
                    <button th:if="${recipe.id} != null" type="button" id="modify-btn" class="btn btn-primary btn-sm">레시피 수정</button>
                    <button type="button" id="list-btn" th:onclick="|location.href='@{/recipes}'|" class="btn btn-primary btn-sm">레시피 목록</button>
                </form>
            </article>
        </div>
    </div>
</div>

<script src="/js/recipe.js"></script>
</body>