<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>레시피 목록</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="p-5 mb-5 text-center</> bg-light">
    <h1 class="mb-3">Recipe</h1>
</div>

<div class="container">
    <button type="button" id="create-btn"
            th:onclick="|location.href='@{/new-recipe}'|"
            class="btn btn-secondary btn-sm mb-3">레시피 등록</button>
    <div class="row-6" th:each="recipe : ${recipes}">
        <div class="card">
            <div class="card-header" th:text="${recipe.rcp_seq}">
            </div>
            <div class="card-body">
                <h5 class="card-title" th:text="${recipe.rcp_nm}"></h5>
                <p class="card-text" th:text="${recipe.rcp_way2}"></p>
                <a th:href="@{/recipes/{id}(id=${recipe.rcp_seq})}" class="btn btn-primary">보러 가기</a>
            </div>
        </div>
        <br>
    </div>
</div>

<script src="/js/recipe.js"></script>
</body>